h1 {
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
    background: linear-gradient( red,purple);
    border-radius: 8%;
}

.col {
    display: flex;
    flex-direction: column-reverse;
}

.col:hover div {
    background-color: gainsboro;
    transform: scale(.90);
    transition: .07s;
    cursor: no-drop;
}

div.col div {
    display: flex;
    background-color: white;
    opacity: 50%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
}

.purple {
    background-color:rgb(185, 40, 185);
}

.red {
    background-color: red;
}

.disc {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://img00.deviantart.net/ee44/i/2012/366/1/0/evil_ryu_vs_oni_akuma_by_legendarysatera-d5pxsni.png);
    background-size: cover;
    background-position: center;
}

#message {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}